<header class="govuk-header" role="banner" data-module="govuk-header" style="background-color: #ffffff;">
  <div class="govuk-header__container" style="border-bottom: 0px;">
    <div class="govuk-header__logo">
        <span class="govuk-header__logotype">
            {% include "includes/logo.html" %}
        </span>
    </div>
    	<div style="float: right; padding-top: 19px;">
    		<h3 class="govuk-heading-s">
    			<span style="padding-right: 20px;">Get started</span>
    			<span style="padding-right: 20px;">Documentation</span>
    			<a href="/platform/login-email" id="platform-nav-link" style="text-decoration: none; color: #0b0c0c">Sign in</a>
    		</h3>
    	</div>
  </div>
</header>
