<header class="govuk-header" role="banner" data-module="govuk-header" style="background-color: #ffffff;">
  <div class="govuk-header__container" style="border-bottom: 0px;">
    <div class="govuk-header__logo">
        <span class="govuk-header__logotype">
          {% include "includes/logo.html" %}
        </span>
    </div>
		<a href="#call-advisor" role="button" draggable="false" class="govuk-button" data-module="govuk-button" style="float: right; background-color: #ed1c24;">
		  Contact us
		</a>
  </div>
</header>
