<header class="govuk-header" role="banner" data-module="govuk-header" style="background-color: #ffffff;">
  <div class="govuk-header__container" style="border-bottom: 0px;">
    <div class="govuk-header__logo">
        <span class="govuk-header__logotype">
            {% include "includes/logo.html" %}
        </span>
    </div>
    	<div style="float: right; padding-top: 19px;">
    		<h3 class="govuk-heading-s">
                <span style="padding-right: 20px;">Nadiya Kanaa</span>
                <!--<span style="padding-right: 20px;">Wellport Council</span>-->
    			Sign out
    		</h3>
    	</div>
  </div>
</header>

<hr>
<br>
