{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}

{% include "includes/header-platform.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h3 class="govuk-heading-m">Wellport City Council</h3>


      <hr>

      <br>
    
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <ul class="govuk-list" id="dashboard-nav">
            <li>
              <a class="govuk-link" href="#call-advisor">Dashboard</a>
            </li>
            <li>
              <a class="govuk-link" href="#contact-us-online" style="font-weight: 700;">Register people</a>
            </li>
            <li>
              <a class="govuk-link" href="#visit-centre">Past emergencies</a>
            </li>
            <li>
              <a class="govuk-link" href="#contact-us-online">New emergency</a>
            </li>
            <li>
              <a class="govuk-link" href="#contact-us-online">Team members</a>
            </li>
            <li>
              <a class="govuk-link" href="#contact-us-online">Settings</a>
            </li>
            <li>
              <a class="govuk-link" href="#support-list">API integration</a>
            </li>
          </ul>
        </div>
        <div class="govuk-grid-column-three-quarters">

          <span class="govuk-caption-l">{% include "includes/emergency-name.html" %}</span>
          <h2 class="govuk-heading-xl">Register people</h2>

          <form action="/platform/check-answers" class="form" method="post"><!-- add random comma for some reason - to remove comma move close bracket properly -->

<h1 class="govuk-heading-l">
        Check information before sending
      </h1>

      <h2 class="govuk-heading-m">
        {{ data['caller-name'] }}
      </h2>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
             077608165367 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/call-middle">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Who needs support
          </dt>
          <dd class="govuk-summary-list__value">
             {{ data['how_many'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/call-middle">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Support needed
          </dt>
          <dd class="govuk-summary-list__value">
             {{ data['support-needed'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/call-middle">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Where has been flooded
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['incident-location'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/call-middle">
              Change <span class="govuk-visually-hidden">registration number</span>
            </a>
          </dd> 
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Where did they calling from
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['caller-location'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/call-middle">
              Change <span class="govuk-visually-hidden">registration number</span>
            </a>
          </dd> 
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Where are they staying tonight
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['staying-tonight'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/call-middle">
              Change <span class="govuk-visually-hidden">registration number</span>
            </a>
          </dd> 
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Advice given and follow up action
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['advice-actions'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/call-middle">
              Change <span class="govuk-visually-hidden">registration number</span>
            </a>
          </dd> 
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How to contact
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['how-contacted'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/call-middle">
              Change <span class="govuk-visually-hidden">vehicle features</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['emailAddress'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/call-middle">
              Change <span class="govuk-visually-hidden">registration number</span>
            </a>
          </dd> 
        </div>
      </dl>

      <h2 class="govuk-heading-m">Send information and confirmation</h2>

      <p>By submitting this information it will be made available to coordinate support from Red Cross and along with selected Category 1 and 2 responders.</p>

      <p>A confirmation email will be sent to <span style="font-weight: 700;">{{ data['caller-name'] }}</span></p>

        <input type="hidden" name="answers-checked" value="true">

      <form action="/confirmation-page" class="form" method="post">

        <div class="govuk-form-group" type="hidden" >
          <input class="govuk-input govuk-input--width-20" id="email-address" name="emailAddress" type="text" value="{{ data['emailAddress'] }}">
        </div>

        <button class="govuk-button" data-module="govuk-button" id="red-button">Send information and confirmation</button>

      </form>

        </div><!-- bottom of column -->
      </div>
    </div>
  </div>

{% endblock %}
