{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}

{% include "includes/header-platform.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h3 class="govuk-heading-m">Wellport City Council</h3>


      <hr>

      <br>
    
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <ul class="govuk-list" id="dashboard-nav">
            <li>
              <a class="govuk-link" href="#call-advisor" style="font-weight: 700;">Dashboard</a>
            </li>
            <li>
              <a class="govuk-link" href="#contact-us-online">Register people</a>
            </li>
            <li>
              <a class="govuk-link" href="#visit-centre">Past emergencies</a>
            </li>
            <li>
              <a class="govuk-link" href="#contact-us-online">New emergency</a>
            </li>
            <li>
              <a class="govuk-link" href="#contact-us-online">Team members</a>
            </li>
            <li>
              <a class="govuk-link" href="#contact-us-online">Settings</a>
            </li>
            <li>
              <a class="govuk-link" href="#support-list">API integration</a>
            </li>
          </ul>
        </div>
        <div class="govuk-grid-column-three-quarters">

          <span class="govuk-caption-l">Live emergency</span>
          <h2 class="govuk-heading-xl">{% include "includes/emergency-name.html" %}</h2>

          <div class="govuk-form-group"><!-- name -->
            <form autocomplete="off" action="/action_page.php">
              <div class="autocomplete" style="width:100%;">
                <input autocomplete="off" class="govuk-input" id="myInput" type="text" name="caller-name" value="{{ data['caller-name'] }}" placeholder="Search names, addresses, reference numbers">
              </div>
              <input type="submit" hidden>
            </form>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <div class="govuk-panel govuk-panel--confirmation" style="text-align: left; box-shadow: 0 2px 0 #002d18; background-color: #ed1c24;">
                    <p class="govuk-body govuk-!-font-size-24" style="margin-bottom: 0px; color: #fff;"><a href="/platform/register-people" class="govuk-link" style="color: #fff;">Register new people</a></p>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
              <div class="govuk-panel govuk-panel--confirmation" style="text-align: left; background-color: white; border: solid 5px #ed1c24;">
                  <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold" style="margin-bottom: 0px; color: #fff;"><a href="#" class="govuk-link" style="color: #ed1c24;">291 people registered</a></p>
              </div>
            </div>
            <div class="govuk-grid-column-one-third">
              <div class="govuk-panel govuk-panel--confirmation" style="text-align: left; background-color: white; border: solid 5px #ed1c24;">
                  <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold" style="margin-bottom: 0px; color: #fff;"><a href="#" class="govuk-link" style="color: #ed1c24;">104 locations</a></p>
              </div>
            </div>
          </div>

          <br>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Support needed</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Number of people</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">View</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Emotional support</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">279 (96%)</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">view</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Temporary accomendation</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">179 (61.5%)</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">view</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Cash assistance</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">161 (55%)</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">view</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Pets</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">127 (43.5%)</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">view</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Insurance advice</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">93 (32%)</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">view</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Prescription medicine</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">36 (12.5%)</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">view</a></td>
              </tr>
            </tbody>
          </table>

        </div><!-- bottom of column -->
      </div>
    </div>
  </div>

{% endblock %}
