{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Check your phone</h1>

      <p>We’ve sent you a text message with a security code.</p>

      <form class="form" action="/platform/login-2fa" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Text message code
          </label>
          <input class="govuk-input govuk-input--width-5" id="email" name="email" type="email" aria-describedby="email-hint" autocomplete="email" spellcheck="false">
        </div>

        <input type="hidden" id="phone-security" name="custId" value="07760816534">

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

      <a href="#" class="govuk-link">Not recieved a text message?</a>

    </div>
  </div>

{% endblock %}
