
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Red Cross prototypes
{% endblock %}

{% block content %}

{% include "includes/header-platform.html" %}

  <br>

  <div class="govuk-grid-row" style="background-color: #ed1c24; margin-bottom: 40px;">    
    <div class="govuk-grid-column-two-thirds">
      <br><br>
      <h1 class="govuk-heading-xl" style="color: #ffffff;">
        <!--<span class="govuk-caption-xl">Version 2 - Barking October 2019</span>-->
        Registration Platform
      </h1>
      <p class="govuk-body-l" style="color: #ffffff;">
        Record and view who's been affected in <br>an emergency and needs support.
      </p>
      <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="background-color: #ffffff; color: #ed1c24;">
        Create a test account
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>
      <br><br>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <h2 class="govuk-heading-m">
          Register people instantly
        </h2>
        <p>Use Registration Platform and be ready to register people in minutes.</p>
    </div>
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1; border: 3px #f3f2f1 solid;">
            <div class="govuk-panel__body" style="color: #f3f2f1;">
              Image to illustrate feature
            </div>
        </div>    
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <h2 class="govuk-heading-m">
          Co-ordinate your response
        </h2>
        <p>Real-time information about who's been affect, where they are and what support they need.</p>
    </div>
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1; border: 3px #f3f2f1 solid;">
            <div class="govuk-panel__body" style="color: #f3f2f1;">
              Image to illustrate feature
            </div>
        </div>    
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <h2 class="govuk-heading-m">
          Share information with partners
        </h2>
        <p>Co-ordinate responses with partners organisations by sharing information in automatic and standardised ways.</p>
    </div>
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1; border: 3px #f3f2f1 solid;">
            <div class="govuk-panel__body" style="color: #f3f2f1;">
              Image to illustrate feature
            </div>
        </div>    
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <h2 class="govuk-heading-m">
          Integrate with your systems
        </h2>
        <p>Use download and API features to move information to and from your systems.</p>
    </div>
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1; border: 3px #f3f2f1 solid;">
            <div class="govuk-panel__body" style="color: #f3f2f1;">
              Image to illustrate feature
            </div>
        </div>    
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <h2 class="govuk-heading-m">
          Used and trusted by across the sector
        </h2>
        <p>Partners from right across public sector, private and voluntary sectors are are already using Registration Platform to co-ordinate better responses to emergencies.</p>
    </div>
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1; border: 3px #f3f2f1 solid;">
            <div class="govuk-panel__body" style="color: #f3f2f1;">
              Image of logos of organisations using the platform
            </div>
        </div>    
    </div>
  </div>

{% endblock %}
