{% extends "layout_platform_splash.html" %}

{% block pageTitle %}
  Red Cross prototypes
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <h2 class="govuk-heading-m">
          Register people quickly
        </h2>
        <p>Register people and their needs in minutes </p>
    </div>
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1; border: 3px #f3f2f1 solid;">
            <div class="govuk-panel__body" style="color: #f3f2f1;">
              Image to illustrate feature
            </div>
        </div>    
    </div>
  </div>

  <br><br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <h2 class="govuk-heading-m">
          Works off-line
        </h2>
        <p>Register peopple without a internet connection using the Emergency Registration Platform iOS or Android app</p>
    </div>
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1; border: 3px #f3f2f1 solid;">
            <div class="govuk-panel__body" style="color: #f3f2f1;">
              Image to illustrate feature
            </div>
        </div>    
    </div>
  </div>

  <br><br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <h2 class="govuk-heading-m">
          Move between paper and computers
        </h2>
        <p>Scanned completed paper registration forms and instantly create a digital record.</p>
    </div>
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1; border: 3px #f3f2f1 solid;">
            <div class="govuk-panel__body" style="color: #f3f2f1;">
              Image to illustrate feature
            </div>
        </div>    
    </div>
  </div>

  <br><br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <h2 class="govuk-heading-m">
          Co-ordinate your response
        </h2>
        <p>Real-time information about who's been affect, where they are and what support they need.</p>
    </div>
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1; border: 3px #f3f2f1 solid;">
            <div class="govuk-panel__body" style="color: #f3f2f1;">
              Image to illustrate feature
            </div>
        </div>    
    </div>
  </div>

  <br><br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <h2 class="govuk-heading-m">
          Share information with partners
        </h2>
        <p>Co-ordinate responses with partners organisations by sharing information in automatic and standardised ways.</p>
    </div>
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1; border: 3px #f3f2f1 solid;">
            <div class="govuk-panel__body" style="color: #f3f2f1;">
              Image to illustrate feature
            </div>
        </div>    
    </div>
  </div>

  <br><br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <h2 class="govuk-heading-m">
          Integrate with your systems
        </h2>
        <p>Use download and API features to move information to and from your systems.</p>
    </div>
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1; border: 3px #f3f2f1 solid;">
            <div class="govuk-panel__body" style="color: #f3f2f1;">
              Image to illustrate feature
            </div>
        </div>    
    </div>
  </div>

  <br><br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <h2 class="govuk-heading-m">
          Used and trusted across different sectors
        </h2>
        <p>Orgnaisations from across public, private and voluntary sectors are are already using Emergency Registration Platform to co-ordinate better responses to emergencies.</p>
    </div>
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1; border: 3px #f3f2f1 solid;">
            <div class="govuk-panel__body" style="color: #f3f2f1;">
              Image of logos of organisations using the platform
            </div>
        </div>    
    </div>
  </div>

  <br><br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <h2 class="govuk-heading-m">
          Supported by a full-time team
        </h2>
        <p>Emerrgency Registration Platform is built by the British Red Cross and is supported 24 hours a day, 7 days a week.</p>
    </div>
    <div class="govuk-grid-column-one-half"><!--offset column-->
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1; border: 3px #f3f2f1 solid;">
            <div class="govuk-panel__body" style="color: #f3f2f1;">
              Image of logos of organisations using the platform
            </div>
        </div>    
    </div>
  </div>

{% endblock %}
