
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Barking fire 2019
{% endblock %}

{% block content %}

{% include "includes/header-public.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>
      <h1 class="govuk-heading-xl">
        Barking fire 2019
      </h1>
      <p class="govuk-body-l">
        Free and confidential support is available for people affected by the fire at De Pass Gardens in Barking:

      <div id="app-\!-reference-number-width">

        <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Emotional support
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">
              NHS provides professional emotional support for people affected by the floods. This will begin a face to face assessment with a trained professional from the NHS.
            </p>
            <p class="govuk-body">A Red Cross adviser can assist you getting support.</p>
          </div>
        </details>

        <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Practical advice about leaving your home
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">Red Cross provides practical advice like what supplies to take with you and where to get local support.</p>
            <p class="govuk-body">A Red Cross adviser can assist you getting support.</p>.
          </div>
        </details>

        <details class="govuk-details govuk-!-margin-bottom-2 data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Temporary accommodation
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">Barking and Dagenham council can provide overnight shelter and temporary housing to people who've had to evacuate their homes.</p>

            <p class="govuk-body">Temporary acommendation includes:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Beds at local help centre (<a href="#">good availability</a>)</li>
              <li>Rooms at local hotels (<a href="#">ok availability</a>)</li>
              <li>Rental properties in Barking (<a href="#">limited availability</a>)</li>
              <li>Rental properties in neighbouring boroughs (<a href="#">ok availability</a>)</li>
            </ul>
            <p class="govuk-body">A Red Cross adviser can assist you getting support.</p>.
          </div>
        </details>

        <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Support for your family and neighbours
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">You can get support on behalf of family and neighbours who need it.</p>
            <p class="govuk-body">A Red Cross adviser can assist you getting support for someone.</p>.
          </div>
        </details>

        <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Financial assistane
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">Red Cross can provide <span style="font-weight: 700;">£40 a day</span> for living costs like food, transport or anything else you need to get by day-to-day.</p>
            <p class="govuk-body">A Red Cross adviser can assist you getting support.</p>.
          </div>
        </details>

        <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Insurance advice
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">Money Advice Service can provide impartial insurance advice to help you navigate making a claim with an insurance company.</p>
            <br>
            <p class="govuk-body"><a href="#">Making an insurance claim after a fire: step by step</a></p>
            <p class="govuk-body">A Red Cross adviser can assist you getting support.</p>.
          </div>
        </details>

        <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Grants to repair your home and replace lost possessions
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">Local councils and central government can provide financial grants to help pay to repair your home and replace lost possessions.</p> 
            <p class="govuk-body">A Red Cross adviser can assist you getting support.</p>.
          </div>
        </details>

        <!--  

          Crisis 

          - Share point
          - Spread sheets
          - Page one 
          
          - Shortell
          - Talk talk line advertised
          - Zoom call video call - 
          - Share Point and zoom
          - Anna Swan
          - Larger emergencies - TalkTalk for Business

          - Victim Support
          - Samaritans
          - Red Cross

        -->

        <br>

      </div>

      <p>Support is available from different organisations like Barking and Dagenham council, NHS and charities like the Red Cross.</p>

        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #C0C0C0; color: #0b0c0c;">
          <div class="govuk-panel__body">
            <strong>Speak to a person</strong><br>Available 24 hours a day<br><br>
          </div>
          <h1 class="govuk-panel__title">
            08000 000 000
          </h1>
        </div>

      <div class="govuk-panel govuk-panel--confirmation" style="background-color: #193351;">
        <div class="govuk-panel__body">
          <strong>Visit local help centre</strong>
          <br>Open 24 hours a day<br><br>
        </div>
        <h1 class="govuk-panel__title">
          Rivergate Centre, Minter Road<br> Barking IG11 0FJ
        </h1>
      </div>

    </div>
</div>

{% endblock %}
