{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {% include "includes/emergency-name.html" %}
{% endblock %}

{% block content %}

{% include "includes/header-call-handler.html" %}

  <div class="govuk-grid-row"><br></div>

  <form action="/call-middle" method="post" class="form">

  <div class="govuk-grid-row" style="float: center;">
    <div class="govuk-grid-column-one-quarter">

        <div class="govuk-panel govuk-panel--confirmation" style="text-align: left; padding-bottom: 0px; background-color: #fff; border: 3px #1d70b8 solid;">

          <div>
            <p>
              Current call<!-- / <span style="background-color: yellow;"><label id="minutes">00</label>:<label id="secondsborder: 3px #b1b4b6 solid;">00</label><br></span>-->
              <label class="govuk-label govuk-label--l">
                077608165367 
              </label>
            </p>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="registration-number">
                  Is the caller in a safe place?
                </label>
              </h1>
              <div class="govuk-radios govuk-radios--conditional govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="safe-place-conditional" name="how-contacted" type="radio" value="no" data-aria-controls="conditional-safe-place-conditional">
                  <label class="govuk-label govuk-radios__label" for="safe-place-conditional">
                    No
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-safe-place-conditional">
                  <div class="govuk-form-group">
                    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="background-color: #d4351c; margin-bottom: 0px;">
                      Redirect call to 999
                      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                      </svg>
                    </a>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                    Yes
                  </label>
                </div>      
              </div>
            </fieldset>
          </div>

          <button class="govuk-button govuk-button--warning" data-module="govuk-button">
            End call
          </button>

        </div>    

    </div>

    <div class="govuk-grid-column-one-quarter">

      <div class="govuk-form-group"><!-- name -->
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="registration-number">
            Name of caller
          </label>
        </h1>
        <input class="govuk-input" id="registration-number" name="caller-name" value="{{ data['caller-name'] }}" type="text">
      </div>

      <div class="govuk-form-group"><!-- name -->
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="registration-number">
            Confirm name
          </label>
        </h1>
        <input class="govuk-input" id="registration-number" name="confirm-name" value="{{ data['caller-name'] }}" type="text">
      </div>

        <div class="govuk-form-group"><!-- caller notes -->
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="registration-number">
              Notes
            </label>
          </h1>
          <textarea class="govuk-textarea" id="more-detail" name="initial-notes" rows="5" aria-describedby="more-detail-hint"></textarea>
          </textarea>

        </div>

    </div><!-- third column -->

    <div class="govuk-grid-column-one-quarter"><!-- third column -->

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"><!-- Information and tips -->
        <h1 class="govuk-fieldset__heading">
          Tips and information
        </h1>
      </legend>

      <div class="govuk-tabs" data-module="govuk-tabs"><!-- advice tabs -->
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#carlisle">
              Rest centre
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#penrith">
              Insurance
            </a>
          </li>
        </ul>
        <section class="govuk-tabs__panel" id="carlisle">
          <h2 class="govuk-heading-m">Rivergate Centre</h2>
          <p>Minter Road, Barking, IG11 0FJ</p>

        </section>
        <!--<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="kendal">
          <p>Needs content - potentially part of<a href="https://www.redcross.org.uk/get-help/prepare-for-emergencies/prepare-an-emergency-kit">this content on BRC website</a></p>

        </section>-->

        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="penrith">
          <h2 class="govuk-heading-m">Content needed</p>

        </section>

      </div>

      <button class="govuk-button" data-module="govuk-button" style="background-color: #1d70b8;">Fill out other information</button>
      
      </form><!-- end of form group with link to next page -->

    </div><!-- third column -->

  </div><!-- row -->

{% endblock %}
