{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {% include "includes/emergency-name.html" %}
{% endblock %}

{% block content %}

{% include "includes/header-call-handler.html" %}

  <div class="govuk-grid-row"><br></div>

  <form action="/confirmation-page" method="post" class="form"><!-- link to next page -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">

          <div class="govuk-panel govuk-panel--confirmation" style="background-color: #1d70b8;">
            <div class="govuk-panel__body">
              Person calling<br><strong>{{ data['caller-name'] }}</strong>
            </div>
          </div>



        <div class="govuk-panel govuk-panel--confirmation" style="text-align: left; padding-bottom: 0px; background-color: #fff; border: 3px #1d70b8 solid;">

          <div>
            <p>
              Current call
              <label class="govuk-label govuk-label--l">
                077608165367 
              </label>
            </p>
          </div>

          <button class="govuk-button govuk-button--warning" data-module="govuk-button">
            End call
          </button>

        </div>    

        <div class="govuk-panel govuk-panel--confirmation" style="text-align: left; padding-bottom: 0px; background-color: #fff; border: 3px #b1b4b6 solid;">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Locations
            </h1>
          </legend>

          <div class="govuk-form-group"><!-- flooded location -->
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label" for="registration-number">
                Where has been flooded
              </label>
            </h1>
            <input class="govuk-input" id="registration-number" name="incident-location" value="{{ data['incident-location'] }}" type="text">
          </div>

          <div class="govuk-form-group"><!-- current location -->
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label" for="registration-number">
                Where are they calling from
              </label>
            </h1>
            <input class="govuk-input" id="registration-number" name="caller-location" value="{{ data['caller-location'] }}" type="text">
          </div>

          <div class="govuk-form-group"><!-- accommodation for tonight -->
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label" for="registration-number">
                Where are they staying tonight
              </label>
            </h1>
            <input class="govuk-input" id="event-name" name="staying-tonight" type="text">
          </div>
        </div>

    </div>

    <div class="govuk-grid-column-one-half">

        <div class="govuk-form-group"><!-- caller notes -->
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="registration-number">
              Summary notes
            </label>
          </h1>
          <textarea class="govuk-textarea" id="more-detail" name="more-notes" rows="5" aria-describedby="more-detail-hint" placeholder="{{ data['initial-notes'] }}"></textarea>
          </textarea>

        </div>

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    Who needs support?
                  </h1>
                </legend>

                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="how-many-people-1">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                    The personl calling
                  </label>
                </div>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="how-many-people-2">
                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                      Someone else
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="how-many-people-2">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="contact-by-phone">
                        Name
                      </label>
                      <input class="govuk-input" id="contact-by-phone" name="contact-by-phone" type="tel">
                    </div>

                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="how-many-people-3">
                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                      A family or group
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="how-many-people-3">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="contact-by-phone">
                        Number of adults
                      </label>
                      <input class="govuk-input govuk-input--width-2" id="contact-by-phone" name="contact-by-phone" type="tel" for="width-2" placeholder="0">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="contact-by-phone">
                        Number of children
                      </label>
                      <input class="govuk-input govuk-input--width-2" id="contact-by-phone" name="contact-by-phone" type="tel" for="width-2" placeholder="0">
                    </div>

                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio" value="email" data-aria-controls="how-many-people-4">
                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                      Multiple groups
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="how-many-people-4">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="contact-by-email">
                        How many people
                      </label>
                      <!-- send email using Notify -->
                      <input class="govuk-input govuk-input--width-3" id="email-address" name="emailAddress" type="text" for="width-3">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div><!-- how to contact -->
          </div>

          <div class="govuk-grid-column-one-third"><!-- actions and advice -->

            <div class="govuk-form-group"><!-- support needed -->
              <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    Advice and actions
                  </h1>
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="support-needed" type="checkbox" value="financial assistance" data-aria-controls="conditional-citizenship-conditional-2">
                    <label class="govuk-label govuk-checkboxes__label">
                      Find a safe place
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="support-needed" type="checkbox" value="financial assistance" data-aria-controls="conditional-citizenship-conditional-2">
                    <label class="govuk-label govuk-checkboxes__label">
                      Go to friend and family
                    </label>
                  </div>

                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional" name="support-needed" type="checkbox" value="grants" data-aria-controls="conditional-insurance-adice">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                        Visit local rest centre
                      </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-insurance-adice">
                      <div class="govuk-form-group">
                          <p>Address: <span style="font-weight: 700;">Rivergate Centre, Minter Road, Barking, IG11 0FJ</span>
                          </p>
                      </div>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="support-needed" type="checkbox" value="financial assistance" data-aria-controls="conditional-citizenship-conditional-2">
                    <label class="govuk-label govuk-checkboxes__label">
                      Request transport
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="support-needed" type="checkbox" value="financial assistance" data-aria-controls="conditional-citizenship-conditional-2">
                    <label class="govuk-label govuk-checkboxes__label">
                      Call your insurer
                    </label>
                  </div>

                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional" name="support-needed" type="checkbox" value="other support" data-aria-controls="conditional-other-support">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                        Other advice and actions
                      </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-other-support">
                      <div class="govuk-form-group">
                        <input class="govuk-input" id="contact-by-email" name="other-support-needed">
                      </div>

                  </div>

                </div>
              </fieldset>
            </div>
          </div>

          <div class="govuk-grid-column-one-third"><!-- support needed -->

            <div class="govuk-form-group"><!-- support needed -->
              <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    Support available
                  </h1>
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="support-needed" type="checkbox" value="financial assistance" data-aria-controls="conditional-citizenship-conditional-2">
                    <label class="govuk-label govuk-checkboxes__label">
                      Emotional support
                    </label>
                  </div>

                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional" name="support-needed" type="checkbox" value="emotional support" data-aria-controls="conditional-counselling">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                        Counselling
                      </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-counselling">
                      <div class="govuk-form-group">
                          <p>Share information with <span style="font-weight: 700;">{% include "includes/healthcare-provider-name.html" %}</span>
                          </p>
                      </div>
                  </div>

                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional" name="support-needed" type="checkbox" value="emotional support" data-aria-controls="conditional-medicine">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                        Replacement medicine
                      </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-medicine">
                      <div class="govuk-form-group">
                          <p>Share information with <span style="font-weight: 700;">{% include "includes/healthcare-provider-name.html" %}</span>
                          </p>
                      </div>
                  </div>

                  <div class="govuk-checkboxes" data-module="govuk-checkboxes"><!-- temporary accommodation -->
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional" name="support-needed" type="checkbox" value="grants" data-aria-controls="conditional-housing">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                        Temporary accommodation
                      </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-housing">
                      <div class="govuk-form-group">
                          <p>Share information with <span style="font-weight: 700;">{% include "includes/local-authority-name.html" %}</span>
                          </p>
                      </div>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="support-needed" type="checkbox" value="financial assistance" data-aria-controls="conditional-citizenship-conditional-2">
                    <label class="govuk-label govuk-checkboxes__label">
                      Support for a family member, friend or neighbour
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="support-needed" type="checkbox" value="financial assistance" data-aria-controls="conditional-citizenship-conditional-2" checked>
                    <label class="govuk-label govuk-checkboxes__label">
                      Cash card
                    </label>
                  </div>

                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional" name="support-needed" type="checkbox" value="grants" data-aria-controls="conditional-pets">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                        Pets
                      </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-pets">
                      <div class="govuk-form-group">
                          <p>Share information with <span style="font-weight: 700;">USPCA</span>
                          </p>
                      </div>
                  </div>

                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional" name="support-needed" type="checkbox" value="grants" data-aria-controls="conditional-insurance-adice">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                        Insurance advice
                      </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-insurance-adice">
                      <div class="govuk-form-group">
                          <p>Share information with <span style="font-weight: 700;">Money Advice Service</span>
                          </p>
                      </div>
                  </div>

                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional" name="support-needed" type="checkbox" value="grants" data-aria-controls="conditional-grants-repairs">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                        Grants to repair home and replace lost possessions
                      </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-grants-repairs">
                      <div class="govuk-form-group">
                          <p>Share information with <span style="font-weight: 700;">Department of Infrastructure</span>
                          </p>
                      </div>
                  </div>

                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional" name="support-needed" type="checkbox" value="other support" data-aria-controls="conditional-other-support">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                        Other support
                      </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-other-support">
                      <div class="govuk-form-group">
                        <input class="govuk-input" id="contact-by-email" name="other-support-needed">
                      </div>
                  </div>

                </div>
              </fieldset>
            </div>
          </div>

        </div>

    </div><!-- second column -->

    <div class="govuk-grid-column-one-quarter"><!-- third column -->

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"><!-- Information and tips -->
        <h1 class="govuk-fieldset__heading">
          Tips and information
        </h1>
      </legend>

      <div class="govuk-tabs" data-module="govuk-tabs"><!-- advice tabs -->
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#carlisle">
              Rest centre
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#penrith">
              Contact numbers
            </a>
          </li>
        </ul>
        <section class="govuk-tabs__panel" id="carlisle">
        <p>Address:<br>
        <span style="font-weight: 700;">{% include "includes/rest-centre-address.html" %}</span>

        </section>
        <!--<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="kendal">
          <p>Needs content - potentially part of<a href="https://www.redcross.org.uk/get-help/prepare-for-emergencies/prepare-an-emergency-kit">this content on BRC website</a></p>

        </section>-->

        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="penrith">
          <h2 class="govuk-heading-m">Content needed</p>

        </section>

      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Contact caller on this number?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                Yes - call them up
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-phone">
                  Phone number
                </label>
                <input class="govuk-input" id="contact-by-phone" name="contact-by-phone" type="tel" placeholder="077608165367">
              </div>

            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-3" name="how-contacted" type="radio" value="text" data-aria-controls="conditional-how-contacted-conditional-3">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
                Yes - send a text message
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-3">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-text">
                  Mobile phone number
                </label>
                <input class="govuk-input" id="contact-by-text" name="contact-by-text" type="tel" placeholder="077608165367">
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                Email
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                  Email address
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="emailAddress" type="email" spellcheck="false">
              </div>

            </div>
          </div>
        </fieldset>
      </div><!-- how to contact -->

      <button style="background-color: #1d70b8;" class="govuk-button" data-module="govuk-button">Preview information before sending</button>
      
      </form><!-- end of form group with link to next page -->

    </div><!-- third column -->

  </div><!-- row -->

{% endblock %}
