
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Cumbria floods 2019
{% endblock %}

{% block content %}

{% include "includes/header-public.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Cumbria floods 2019
      </h1>
      <p class="govuk-body-l">
        If you’ve been affected by the Cumbria floods free and confidential support is available:

      <div id="app-\!-reference-number-width">

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Temporary accommodation
            </span>
          </summary>
          <div class="govuk-details__text">
            Local councils can provide shelter overnight and temporary housing to people who've had to evacuate their homes.
          </div>
        </details>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Financial assistane
            </span>
          </summary>
          <div class="govuk-details__text">
            Red Cross can provide £40 a day for living costs like food, transport or anything else you need to get by day-to-day. 
          </div>
        </details>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Insurance advice
            </span>
          </summary>
          <div class="govuk-details__text">
            Citizens Advice can provide impartial insurance advice to help you navigate making a claim with an insurance company.
          </div>
        </details>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Grants to repair your home and replace lost possessions
            </span>
          </summary>
          <div class="govuk-details__text">
            Local councils and central government can provide financial grants to help pay to repair your home and replace lost possessions. 
          </div>
        </details>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Emotional support
            </span>
          </summary>
          <div class="govuk-details__text">
            NHS provides professional emotional support for people affected by the floods.
          </div>
        </details>

      </div>

      <p>Support is available from different organisations like Cumbria County Council, NHS and charities like the Red Cross.</p>

        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #05853a;">
          <div class="govuk-panel__body">
            <strong>Speak to a person</strong><br>Available 24 hours a day<br><br>
          </div>
          <h1 class="govuk-panel__title">
            08000 000 000
          </h1>
        </div>

      <div class="govuk-panel govuk-panel--confirmation" style="background-color: #193351;">
        <div class="govuk-panel__body">
          <strong>Visit local help centre</strong>
          <br>Open 24 hours a day<br><br>
        </div>
        <h1 class="govuk-panel__title">
          Kendal Leisure Centre<br>Burton Rd, LA9 7HX
        </h1>
      </div>

    </div>
</div>

{% endblock %}
