<div class="_3U2q6dcdZCrTrR_42Nxby JWNdg1hee9_Rz6bIGvG1c allowTextSelection"><div><div>
<div dir="ltr">
<div>
<div><span style="color:white;font-size:1px;display:none;max-height:0;">This is not a real email. This is a prototype. Dear {first name}, Thank you for calling Red Cross for support. You spoke with Laura for 3:42 minutes. Your support number is 1409674133 Next
steps for you Based on what you told we advise you take the follow…</span> 
<table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width:100%;border-collapse:collapse;max-width:580px;">
<tbody><tr>
<td valign="middle" width="10" height="10"></td>
<td>
<table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation" style="border-collapse:collapse;">
<tbody><tr>
<td width="100%" height="24" colspan="2"><br>

</td>
</tr>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" role="presentation" style="border-collapse:collapse;">
<tbody><tr>
<td style="padding:0 5px 0 0;"><img data-imagetype="External" src="https://static-logos.notifications.service.gov.uk/ee661efa-4ca7-4625-bccb-a95e3b84f58f-redx.png" height="54" alt="British Red Cross" style="display:block;border-width:0;"> </td>
<td width="100%" style="font-size:18px;font-family:Helvetica,Arial,sans-serif;line-height:23px;">
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
<td valign="middle" width="10" height="10"></td>
</tr>
</tbody></table>
<table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width:100%;border-collapse:collapse;max-width:580px;">
<tbody><tr>
<td height="30"><br>

</td>
</tr>
<tr>
<td valign="middle" width="10"><br>

</td>
<td style="font-size:19px;font-family:Helvetica,Arial,sans-serif;max-width:560px;line-height:1.315789474;">
<blockquote style="font-size:19px;margin:0 0 20px 0;padding:15px 0 0.9px 15px;border-left:10px solid #BFC1C3;line-height:25px;">
<p style="color:#0B0C0C;font-size:19px;margin:0 0 20px 0;line-height:25px;">This is not a real email. This is a prototype. </p>
</blockquote>
<p style="color:#0B0C0C;font-size:19px;margin:0 0 20px 0;line-height:25px;">Dear {first name},</p>
<p style="color:#0B0C0C;font-size:19px;margin:0 0 20px 0;line-height:25px;">Thank you for calling Red Cross for support. </p>
<p style="color:#0B0C0C;font-size:19px;margin:0 0 20px 0;line-height:25px;">You spoke with Laura for 3:42 minutes. </p>
<blockquote style="font-size:19px;margin:0 0 20px 0;padding:15px 0 0.9px 15px;border-left:10px solid #BFC1C3;line-height:25px;">
<p style="color:#0B0C0C;font-size:19px;margin:0 0 20px 0;line-height:25px;">Your support number is 1409674133</p>
</blockquote>
<h2 style="color:#0B0C0C;font-size:27px;font-weight:bold;margin:0 0 20px 0;padding:0;line-height:35px;">
Next steps for you</h2>
<p style="color:#0B0C0C;font-size:19px;margin:0 0 20px 0;line-height:25px;">Based on what you told we advise you take the follow steps:</p>
<table role="presentation" style="padding:0 0 20px 0;">
<tbody><tr>
<td style="font-family:Helvetica,Arial,sans-serif;">
<ul style="list-style:disc;margin:0 0 0 20px;padding:0;">
<li style="color:#0B0C0C;font-size:19px;margin:5px 0;padding:0 0 0 5px;line-height:25px;">
Go to family or friends</li><li style="color:#0B0C0C;font-size:19px;margin:5px 0;padding:0 0 0 5px;line-height:25px;">
Visit the local emergency centre for further support: Rivergate Centre, Minter Road, Barking, IG11 0FJ</li><li style="color:#0B0C0C;font-size:19px;margin:5px 0;padding:0 0 0 5px;line-height:25px;">
Call your insurance company</li></ul>
</td>
</tr>
</tbody></table>
<h2 style="color:#0B0C0C;font-size:27px;font-weight:bold;margin:0 0 20px 0;padding:0;line-height:35px;">
Actions for us at Red Cross</h2>
<p style="color:#0B0C0C;font-size:19px;margin:0 0 20px 0;line-height:25px;">Laura and our team will take the following actions based on your call:</p>
<table role="presentation" style="padding:0 0 20px 0;">
<tbody><tr>
<td style="font-family:Helvetica,Arial,sans-serif;">
<ul style="list-style:disc;margin:0 0 0 20px;padding:0;">
<li style="color:#0B0C0C;font-size:19px;margin:5px 0;padding:0 0 0 5px;line-height:25px;">
tell the local emergency centre you’re coming</li><li style="color:#0B0C0C;font-size:19px;margin:5px 0;padding:0 0 0 5px;line-height:25px;">
tell London Borough of Barking and Dagenham about your needing temporary housing</li><li style="color:#0B0C0C;font-size:19px;margin:5px 0;padding:0 0 0 5px;line-height:25px;">
tell your local NHS to contact you about emotional support</li><li style="color:#0B0C0C;font-size:19px;margin:5px 0;padding:0 0 0 5px;line-height:25px;">
tell Money Advice Service to contact you about independent insurance advice</li></ul>
</td>
</tr>
</tbody></table>
<blockquote style="font-size:19px;margin:0 0 20px 0;padding:15px 0 0.9px 15px;border-left:10px solid #BFC1C3;line-height:25px;">
<p style="color:#0B0C0C;font-size:19px;margin:0 0 20px 0;line-height:25px;">We will contact you in 3 days to hear how you’re doing. </p>
</blockquote>
<h2 style="color:#0B0C0C;font-size:27px;font-weight:bold;margin:0 0 20px 0;padding:0;line-height:35px;">
Sharing information with other organisations</h2>
<p style="color:#0B0C0C;font-size:19px;margin:0 0 20px 0;line-height:25px;">To get you extra support information has been shared with these organisations:</p>
<table role="presentation" style="padding:0 0 20px 0;">
<tbody><tr>
<td style="font-family:Helvetica,Arial,sans-serif;">
<ul style="list-style:disc;margin:0 0 0 20px;padding:0;">
<li style="color:#0B0C0C;font-size:19px;margin:5px 0;padding:0 0 0 5px;line-height:25px;">
London Borough of Barking and Dagenham – your name, phone number and location to organise temporary housing</li><li style="color:#0B0C0C;font-size:19px;margin:5px 0;padding:0 0 0 5px;line-height:25px;">
NHS Barking and Dagenham – your name and phone number to organise emotional support for you</li><li style="color:#0B0C0C;font-size:19px;margin:5px 0;padding:0 0 0 5px;line-height:25px;">
Money Advice Service – your name and phone number to contact you about independent insurance advice for you</li></ul>
</td>
</tr>
</tbody></table>
</td>
<td valign="middle" width="10"><br>

</td>
</tr>
<tr>
<td height="30"><br>

</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div></div>