<div><span style="display:none;font-size:1px;color:#fff;max-height:0">This is not a real email. This is a prototype. Dear {first name}, Thank you for calling Red Cross. You spoke with Laura for 3:42 minutes. Your support number is 1409674133 You can call
 us again on 08000 000 000 Next steps for you Based on what you told we…</span>
<table role="presentation" align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse:collapse;max-width:580px;width:100%!important">
<tbody>
<tr>
<td width="10" height="10" valign="middle"></td>
<td>
<table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
<tbody>
<tr>
<td height="24" width="100%" colspan="2"><br>
</td>
</tr>
<tr>
<td>
<table role="presentation" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
<tbody>
<tr>
<td style="padding:0 5px 0 0"><img height="54" alt="Red Cross" style="display:block;border:0" src="https://ci3.googleusercontent.com/proxy/UlHnt_S7hJBt5YQ6XoOiaXlVAGoQYpHR00CzaHROeMP28BpslDm1UL1bwyxm2RB4dJXgAwXdrp78sNKeUHooSSVJzrknabo5p6ajVLweBuS9JlMUDvwtTNoeFPfz6k-n8O2ikZlwfxAr4qHcJ9nuP2Wpkhbkt28=s0-d-e1-ft#https://static-logos.notifications.service.gov.uk/280f5183-ac4b-4400-9efd-5a496b5ac9d8-red-cross.png" class="CToWUd">
</td>
<td width="100%" valign="center" style="font-family:Helvetica,Arial,sans-serif;font-size:18px;line-height:23px">
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td width="10" valign="middle" height="10"></td>
</tr>
</tbody>
</table>
<table role="presentation" align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse:collapse;max-width:580px;width:100%!important">
<tbody>
<tr>
<td height="30"><br>
</td>
</tr>
<tr>
<td width="10" valign="middle"><br>
</td>
<td style="font-family:Helvetica,Arial,sans-serif;font-size:19px;line-height:1.315789474;max-width:560px">
<blockquote style="margin:0 0 20px 0;border-left:10px solid #bfc1c3;padding:15px 0 0.1px 15px;font-size:19px;line-height:25px">
<p style="margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">This is not a real email. This is a prototype.
</p>
</blockquote>
<p style="margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">Dear {first name},</p>
<p style="margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">Thank you for calling Red Cross.
</p>
<p style="margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">You spoke with Laura for 3:42 minutes.</p>
<blockquote style="margin:0 0 20px 0;border-left:10px solid #bfc1c3;padding:15px 0 0.1px 15px;font-size:19px;line-height:25px">
<p style="margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">Your support number is 1409674133
</p>
</blockquote>
<p style="margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">You can call us again on 08000 000 000</p>
<h2 style="margin:0 0 20px 0;padding:0;font-size:27px;line-height:35px;font-weight:bold;color:#0b0c0c">
Next steps for you</h2>
<p style="margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">Based on what you told we advise you take the follow steps:</p>
<table role="presentation" style="padding:0 0 20px 0">
<tbody>
<tr>
<td style="font-family:Helvetica,Arial,sans-serif">
<ul style="margin:0 0 0 20px;padding:0;list-style-type:disc">
<li style="margin:5px 0 5px;padding:0 0 0 5px;font-size:19px;line-height:25px;color:#0b0c0c">
Stay with family and friends</li><li style="margin:5px 0 5px;padding:0 0 0 5px;font-size:19px;line-height:25px;color:#0b0c0c">
Visit the local emergency centre for further support: Eglinton Community Centre, 40 Main Street, Londonderry BT47 3AD</li><li style="margin:5px 0 5px;padding:0 0 0 5px;font-size:19px;line-height:25px;color:#0b0c0c">
Read our advice on pausing energy bills <a href="https://www.redcross.org.uk/emergency/pausing-energy-bills" style="word-wrap:break-word;color:#005ea5" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.redcross.org.uk/emergency/pausing-energy-bills&amp;source=gmail&amp;ust=1571315897706000&amp;usg=AFQjCNHW_gzQ7t4LIEEzNm1N56aow9U9uw">
https://www.redcross.org.uk/<wbr>emergency/pausing-energy-bills</a></li></ul>
</td>
</tr>
</tbody>
</table>
<h2 style="margin:0 0 20px 0;padding:0;font-size:27px;line-height:35px;font-weight:bold;color:#0b0c0c">
Actions for us at Red Cross</h2>
<p style="margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">Laura and our team will take the following actions based on your call:</p>
<table role="presentation" style="padding:0 0 20px 0">
<tbody>
<tr>
<td style="font-family:Helvetica,Arial,sans-serif">
<ul style="margin:0 0 0 20px;padding:0;list-style-type:disc">
<li style="margin:5px 0 5px;padding:0 0 0 5px;font-size:19px;line-height:25px;color:#0b0c0c">
tell the local support centre you’re coming</li><li style="margin:5px 0 5px;padding:0 0 0 5px;font-size:19px;line-height:25px;color:#0b0c0c">
organise a £40 a day cash card you can collect from the support centre</li><li style="margin:5px 0 5px;padding:0 0 0 5px;font-size:19px;line-height:25px;color:#0b0c0c">
tell Derry City and Strabane Council about your needing temporary accommodation</li><li style="margin:5px 0 5px;padding:0 0 0 5px;font-size:19px;line-height:25px;color:#0b0c0c">
tell Derry City and Strabane Council to pause your council tax</li><li style="margin:5px 0 5px;padding:0 0 0 5px;font-size:19px;line-height:25px;color:#0b0c0c">
tell your local HSC to contact you about emotional support</li><li style="margin:5px 0 5px;padding:0 0 0 5px;font-size:19px;line-height:25px;color:#0b0c0c">
tell Money Advice Service to contact you about independent insurance advice</li></ul>
</td>
</tr>
</tbody>
</table>
<blockquote style="margin:0 0 20px 0;border-left:10px solid #bfc1c3;padding:15px 0 0.1px 15px;font-size:19px;line-height:25px">
<p style="margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">We will contact you in 3 days to hear how you’re doing.
</p>
</blockquote>
<h2 style="margin:0 0 20px 0;padding:0;font-size:27px;line-height:35px;font-weight:bold;color:#0b0c0c">
Sharing information with other organisations</h2>
<p style="margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">To get you extra support information has been shared with these organisations:</p>
<table role="presentation" style="padding:0 0 20px 0">
<tbody>
<tr>
<td style="font-family:Helvetica,Arial,sans-serif">
<ul style="margin:0 0 0 20px;padding:0;list-style-type:disc">
<li style="margin:5px 0 5px;padding:0 0 0 5px;font-size:19px;line-height:25px;color:#0b0c0c">
Derry City and Strabane Council – your name, phone number and location to organise temporary housing</li><li style="margin:5px 0 5px;padding:0 0 0 5px;font-size:19px;line-height:25px;color:#0b0c0c">
Health &amp; Social Care Services in Northern Ireland – your name and phone number to organise counselling for you</li><li style="margin:5px 0 5px;padding:0 0 0 5px;font-size:19px;line-height:25px;color:#0b0c0c">
Money Advice Service – your name and phone number to contact you about independent insurance advice for you</li></ul>
</td>
</tr>
</tbody>
</table>
<p style="margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">Stop information being shared at
<a href="https://www.redcross.org.uk/derry-londonderry-flooding/info-sharing" style="word-wrap:break-word;color:#005ea5" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.redcross.org.uk/derry-londonderry-flooding/info-sharing&amp;source=gmail&amp;ust=1571315897707000&amp;usg=AFQjCNGB5kcSgfIqH-FhIR9qP5qDBA6kXg">
https://www.redcross.org.uk/<wbr>derry-londonderry-flooding/<wbr>info-sharing</a></p>
</td>
<td width="10" valign="middle"><br>
</td>
</tr>
<tr>
<td height="30"><br>
</td>
</tr>
</tbody>
</table>
</div>