
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Red Cross prototypes
{% endblock %}

{% block content %}

{% include "includes/header-public.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Version 2 - Barking October 2019</span>
        Visible in emergencies
      </h1>

      <p class="govuk-body-l">
        British Red Cross Innovation team - testing different options to make more people visible in emergencies to organisations who can support them.  
      </p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          This prototype is out of date - see <a href="https://red-cross-emergencies.herokuapp.com">latest version</a>
        </strong>
      </div>

      <h2 class="govuk-heading-m">Prototypes</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/public/images/radio-ad.mpeg">Radio ad</a></li>
        <li><a href="/facebook">Facebook</a></li>
        <li><a href="/barking-fire-2019">Landing-page</a></li>
        <li><a href="/call-handler">Call handler view</a></li>
        <li><a href="/email-confirmation">Confirmation email</a></li>
        <li><a href="/co-ordinators-view">Co-ordinator view</a></li>
      </ul>

      <p><a href="https://github.com/HarryTrimble/red-cross-visible-in-emergencies">Source code</a></p>

      <!--

      <h2 class="govuk-heading-m">Old prototypes</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://red-cross-emergencies-v1.herokuapp.com/">Version 1 - Cumbria September 2019</a></li>
      </ul>

      -->

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
