{% extends "layout_dalia.html" %}

{% block pageTitle %}
  Rotas prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <ul class="govuk-list" id="dashboard-nav">
            <li>
              <a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href="#call-advisor">My shifts</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/platform/register-people">My availablity</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/platform/register-people">My team's shifts</a>
            </li>
          </ul>
        </div>
        <div class="govuk-grid-column-three-quarters">

          <span class="govuk-caption-l">Volunteer</span>
          <h2 class="govuk-heading-xl">Nadiya Kanaa</h2>

                            <div class="govuk-panel govuk-panel--confirmation" style="background-color: #1d70b8;">
          <div class="govuk-panel__body">
            Your next shift<br><h1 class="govuk-panel__title">24 February 2020</h1>
            7:00 to 12:00
          </div>
          <br>
          <div class="govuk-panel__body">
            Emergency Response Volunteer<br><strong>Lancashire and Cumbria</strong>
          </div>
        </div>

        <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">Request to change this shift</a>

        <br><br>

        <h3 class="govuk-heading-m">Your upcoming shifts</h3>


        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Role</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">ER team</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">24 Feb 2020<br><span style="font-weight: 400;">7:00 to 12:00</span></th>
              <td class="govuk-table__cell govuk-table__cell--numeric">Emergency Response Volunteer</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">Lancashire and Cumbria</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">view</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">2 Mar 2020<br><span style="font-weight: 400;">12:00 to 18:00</span></th>
              <td class="govuk-table__cell govuk-table__cell--numeric">Operational Team Leader</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">Nottinghamshire</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">view</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">7 Mar 2020<br><span style="font-weight: 400;">7:00 to 12:00</span></th>
              <td class="govuk-table__cell govuk-table__cell--numeric">Operational Team Leader</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">Derbyshire</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">view</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">13 Mar 2020<br><span style="font-weight: 400;">18:00 to 0:00</span></th>
              <td class="govuk-table__cell govuk-table__cell--numeric">Emergency Response Volunteer</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">Cumbria and Lancashire</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">view</a></td>
            </tr>
          </tbody>
        </table>

        </div><!-- bottom of column -->
      </div>
    </div>
  </div>

{% endblock %}
