  {% extends "layout_unbranded.html" %}

  {% block pageTitle %}
    Cumbria floods 2019
  {% endblock %}

  {% block content %}

  {% include "includes/red-cross-header.html" %}

    <div class="govuk-grid-row"><br></div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">

          <div class="govuk-panel govuk-panel--confirmation" style="background-color: #b1b4b6; color: #0b0c0c;">
            <div class="govuk-panel__body">
              <strong>Cumbria floods 2019</strong><br><br>
            </div>
            <div class="govuk-panel__body">
              People registered<br><strong>349</strong>
            </div>

            <br>

            <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
              Register people
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
              </svg>
            </a>

          </div>

      </div>
    </div>

  {% endblock %}
